header{
    padding: 50px 600px 0px 500px;
}
body{
    float: middle;
    background-image: url(Images/franklin.jpeg);
    background-size:100%;
    font-family: sans-serif;
    padding: 50px, 10px, 10px, 10px;
    text-align: left;
}
header figure.logo{
    width: 10%;
}
h1{
    text-align:center;
    color: darkorange;
    background:lightblue;
    padding:30px 50px 40px 10px;
    font-size: 50px;
    font-family: 'Concert One', cursive;
}
subheading{
    background:lightblue;
    color:darkorange;
    text-align: center
}
a{
    background:lightblue;
    color:blue;
}

logo.png{
    float:right;
    margin:10px;
}

.picright{
    float:right;
    margin-left: 10px;
}
table{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
h2{
color:darkorange;
}
